VAPID_PUBLIC_KEY=BEyyu2udB3yNowi5LfKTaug7AX-9gHWznC_DV8qSiWQVu-FKUJTGwW1gEBugPRm4l08qU9ew5xYwlEWWYTwSLwA
VAPID_PRIVATE_KEY=6f9kf-DF45y1gOREh5IBjir-KqFHMMk67UWdL0fmyHI
VAPID_SUBJECT=mailto:support@garuga.local
ADMIN_KEY_HASH=2bba8706a890a90490bfb9b580549fac1a46209eaa748adc473a8e759917580e
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5bXJ0cmx4dmRwZGR6cnBidndyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODAxMTg4MSwiZXhwIjoyMDkzNTg3ODgxfQ.umDxTUpY-fNu2NokszefZEA50EiYOm9Okih1I-yMKjg
