VITE_IMGBB_API_KEY=f82ec5554980b0722e77fc610a45e59d
VITE_SUPABASE_URL=https://fymtrlxvdpddzrpbdwry.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5bXJ0cmx4dmRwZGR6cnBidndyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwMTE4ODEsImV4cCI6MjA5MzU4Nzg4MX0.yl-IOFAYF6o0mCXggdgJxLh3TU3uw7BM5IOz2jVxr3E
VITE_VAPID_PUBLIC_KEY=BEyyu2udB3yNowi5LfKTaug7AX-9gHWznC_DV8qSiWQVu-FKUJTGwW1gEBugPRm4l08qU9ew5xYwlEWWYTwSLwA
